html,body {
    padding: 0;
    margin: 0;
}
.section1 {
    background-color: #f7f7f6;
   /* background-color: rgb(135, 160, 183);*/
    height: 100vh;
}
.top {
    height:8%;
    width: 100%;
    /* border: #333 solid 1px; */
    display: flex;
    /* background-color: #f7f4eb; */
    flex-direction: column;
    justify-content: center;
    /*position: fixed;*/
    top: 0;
    background-color:white;
    
} 

.t2{
    /*border: #333 solid 1px;*/
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
.logo  img{
    height: 18vh;
}

.no {
    /*border: #333 solid 1px;*/
    display: flex;
    flex-grow: 0.7;

}
.nextPage {
    /*border: #333 solid 1px;*/
    display: flex;
    flex-direction: row;
    width: 40vw;
    display: flex;
    justify-content: space-around;
}
.buttonI button {
    height: 5vh;
    width: 8vw;
    border: none;
    background-color:transparent;
}
.buttonI button:hover{
    color: white ;
}
.bottom {
    height: 90%;
   /* border: #1c1b1b solid 1px;*/
    display: flex;
    flex-direction: row;

}
.item-T1{
    /*border: #0b0b0b solid 1px;*/
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;*/
    align-items: center;
}
.itemTe2{
    /* border: #333 solid 1px;*/
     height: 40%;
     width: 80%;
     background-color:  white ;
     box-shadow : 1px 5px 5px 5px rgb(213, 206, 206);
     margin-top: 23%;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.a1 {
    margin-right: 80%;
}
.a{
    margin-left: 40%;
}
.iT2 {
    /*border: #333 solid 1px;*/
    writing-mode: vertical-rl;
    font-size: 52pt;
    margin-left: 85%;
    margin-top: 5%;
}
.item-Main {
    /* border: #0b0b0b solid 1px; */
    height: 100%;
    width: 30%;
    overflow-y: scroll;
    overflow: auto;
}

.item-Main::-webkit-scrollbar {
    width: 2px;
    background-color: #fff;
}
.item-Main::-webkit-scrollbar-thumb{
    width: 1px;
    background-color: #333;
}


.item1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: white;
}
.it_img {
    width: 100%;
    height: 100%;
    overflow:hidden;
    margin:0 auto;
    position: relative;
}
/* img를 둘러싸고 있는 div에 위 코드를 넣고 img에는 */
/* .img {
    height: 100%;
    width: 100%;
    object-fit:cover;
} */

.img {
   /* font-family: "Bungee", cursive;*/
  /*font-size: 5rem;*/
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  background-position: center;
  margin: 0;
  overflow: hidden;
}
.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.item-T2 {
    /*border:#333 solid 1px;*/
    height: 100%;
    width: 40%;
    background-color: #f7f7f6;
}

.itemTe3 {
    box-shadow : 1px 5px 5px 5px rgb(213, 206, 206);
    height: 20%;
    width: 80%;
    background-color: white ;
    margin-top: 15%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
 }
 .iT3 {
    font-size: 9pt;
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
 }
 .iT4 {
    font-size: 9.5pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    width: 50%;
 }
.itemTe4 {
    writing-mode: vertical-rl;
    font-size: 52pt;
    margin-top: 19%;
    margin-left: -18%;
   /* border: #333 solid 1px;*/
 }
/*-------------------------------------------------*/
.section2 {
    background-color:  #31453a;
    height: 100vh;
}
.top2 {
   /* border: #fff solid 1px;*/
    height: 8%;
    margin-left: 39.5%;
}
.top2text {
    color: #f7f7f6;
    font-size: 18pt;
    width: 50%;
}
.bottom2 {
    height: 92%;
    border:  #fff solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.it1 {
    width: 30%;
    height: 100%;
    border: #fff solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.it1-i {
    border: white solid 1px;
    height: 30%;
    width: 100%;
    position: relative;
}
.it2 {
    width: 40%;
    height: 100%;
    border: #fff solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.map {
    border:  #fff solid 1px;
    height: 50%;
    width: 80%;
    box-shadow : 1px 1px 5px 5px rgb(2, 42, 2);
}

.it3 {
    width: 30%;
    height: 100%;
    border: #fff solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.wi {
    position: absolute;
    width: 100%; /* 부모에 맞게 꽉 채운다. */
    height: 100%;
  }
